#mainnav{
    font-size: 120%;
}

.navel{
    margin-left: 2em;
    margin-right: 2em;
}
.navtopb{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.navdit:hover{
    background-color: rgb(197, 188, 188);
}
.navconbtn{
    background-color: rgb(149, 0, 255);
    color: white;
}
.navconbtn:hover{
    background-color: rgb(116, 4, 202);
    color: white;
}
.navproper{
    display: flex;
    font-size: 100%;
    text-decoration: none;
    color: black;
}
@media (min-width: 424px){
    #navelid{
        margin-left: 5em;
    }
}
