.boxpara{
    margin-top: 1em; 
    width: 70%;
    margin-left: 1em;
}
.parah{
    font-size: 3em;
    font-family: Oswald;
    margin-bottom: 0.5em;
}
.parat{
    font-size: 1.3em;
    font-family: Rubik;
}

@media (max-width: 425px){
    .boxpara{
        width: 100%;
        margin-left: 0em;
    }
    .parah{
        font-size: 2em;
    }
    .parat{
        font-size: 1em;
    }
}